@import '../../global.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $--theme-primary-color;
    color: $--theme-highlight-color;
    height: 40px;
    padding: 20px;
    border-bottom: 3px solid $--theme-primary-color;
    box-shadow: 3px 3px 3px $--theme-highlight-color;

    @media only screen and (max-width: 320px)  {
        .title {
            font-size: 1.8rem !important;
        }

        .search-input__wrapper {
            height: 70% !important;
        }
    }

    .title {
        font-size: 3rem;
        font-weight: 600;
        color: $--theme-secondary-color;
        text-decoration: none;
    }

    .search-input__wrapper {
        display: flex;
        align-items: center;
        width: 50vw;
        height: 80%;
        position: relative;
        
        .search-input__box {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            padding: 0 50px;
            font-size: 20px;
        }

        svg {
            position: absolute;
            top: 18%;
            left: 10px;
            color: $--theme-primary-color;
        }

        
    }
}