@import '../../global.scss';

.footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: $--theme-primary-color;
    padding: 20px 0;

    .social-accounts {
        .social-account {
            padding: 0 10px;
            color: $--theme-secondary-color;
        }
    }
    .copyright {
        color: $--theme-secondary-color;
    }
}