@import '../../global.scss';

.page__wrapper {
    display: flex;
    height: calc(100vh - 50px);
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: $--theme-primary-color;
    transition: all ease .5s;
}